body{
    background-color: #A7C3C6;
    padding-top: 70px;
}
#navbar1{
	text-align: center;
}

.jumbotron{
    width: 100%;
}
h1{
    text-align: center;
}
footer, .push {
    height: 105px; 
    text-align: center;
}
h2{
	text-align: center;
}
#section3{
	background-color: white;
	text-align: center;
	float: block;
}